# les premiers commandes:

# conda create -n burnout-env python=3.11 -y
# conda activate burnout-env
# pour désactiver l'environnement: conda deactivate

numpy
pandas
matplotlib
scikit-learn
tensorflow==2.17.0
opencv-python
tqdm
jupyter


# pip install -r requirements.txt
# pip install uvicorn[standard]
# pip install fastapi


# pour executer le code : pip install uvicorn[standard] 

